In [4]:
import pandas as pd
import numpy as np

In [5]:
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

In [6]:
pgh_SNAP_data = pd.read_csv("http://pghgis-pittsburghpa.opendata.arcgis.com/datasets/3ca13246362540fa8b4b567f84a1255b_0.csv",index_col=0)
                           
pgh_SNAP_data.head(10)

,Neighborhood_2010_FID_BlockG,Neighborhood_2010_STATEFP10,Neighborhood_2010_COUNTYFP10,Neighborhood_2010_TRACTCE10,Neighborhood_2010_BLKGRPCE10,Neighborhood_2010_GEOID10,Neighborhood_2010_NAMELSAD10,Neighborhood_2010_MTFCC10,Neighborhood_2010_FUNCSTAT10,Neighborhood_2010_ALAND10,...,Total_Working_Pop___Age_16____2,SNAP_All_csv_Commute_to_Work__D,SNAP_All_csv_Commute_to_Work__C,SNAP_All_csv_Commute_to_Work__P,SNAP_All_csv_Commute_to_Work__T,SNAP_All_csv_Commute_to_Work__M,SNAP_All_csv_Commute_to_Work__B,SNAP_All_csv_Commute_to_Work__W,SNAP_All_csv_Commute_to_Work__O,SNAP_All_csv_Work_at_Home__2010
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1,0,42,3,40500,1,420030405001,Block Group 1,G5030,S,268195,...,2509,16.3%,6.9%,13.3%,0.0%,0.0%,0.0%,62.4%,0.0%,1.2%
2,1,42,3,40400,1,420030404001,Block Group 1,G5030,S,75472,...,3436,20.6%,7.2%,11.5%,0.4%,0.0%,2.9%,52.6%,0.4%,4.4%
3,2,42,3,40200,2,420030402002,Block Group 2,G5030,S,282679,...,834,35.5%,1.0%,22.1%,0.0%,0.0%,0.0%,40.8%,0.7%,0.0%
4,3,42,3,30500,2,420030305002,Block Group 2,G5030,S,284548,...,635,65.4%,9.6%,16.5%,2.0%,0.0%,0.0%,6.5%,0.0%,0.0%
5,5,42,3,20300,1,420030203001,Block Group 1,G5030,S,1593129,...,277,53.8%,19.1%,18.1%,0.0%,0.0%,0.0%,0.0%,0.0%,9.0%
6,6,42,3,20100,4,420030201004,Block Group 4,G5030,S,281715,...,1566,24.8%,5.4%,21.1%,0.0%,0.0%,0.0%,42.0%,0.0%,6.8%
7,7,42,3,262000,1,420032620001,Block Group 1,G5030,S,607576,...,899,53.1%,18.2%,14.8%,0.0%,0.0%,6.3%,4.4%,0.0%,3.1%
8,8,42,3,261500,1,420032615001,Block Group 1,G5030,S,350522,...,1485,52.7%,10.2%,32.8%,0.0%,0.0%,0.0%,3.6%,0.0%,0.7%
9,10,42,3,261200,1,420032612001,Block Group 1,G5030,S,1057787,...,643,94.6%,2.8%,2.6%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
10,11,42,3,260900,1,420032609001,Block Group 1,G5030,S,812036,...,296,8.4%,0.0%,77.4%,0.0%,0.0%,0.0%,5.7%,0.0%,8.4%

In [34]:
#creating a new dataframe with just the data we're using
#for some reason it isn't getting neighborhoods with a medium home value greater than 100,000

new_data = pgh_SNAP_data[["Neighborhood_2010_HOOD","F__Pop__Change__00_10","SNAP_All_csv_2009_Median_Income", "SNAP_All_csv_Median_Home_Value_"]]
new_data = new_data.sort_values("SNAP_All_csv_Median_Home_Value_", ascending = False).head(10)
new_data

,Neighborhood_2010_HOOD,F__Pop__Change__00_10,SNAP_All_csv_2009_Median_Income,SNAP_All_csv_Median_Home_Value_
OBJECTID,,,,
38,Highland Park,-5.25%,61455,"$99,900"
81,New Homestead,5.66%,83167,"$90,900"
48,Banksville,-8.72%,50625,"$87,200"
60,Allegheny Center,5.30%,20911,"$86,500"
71,Point Breeze North,-10.85%,35041,"$83,200"
37,Swisshelm Park,-1.23%,72500,"$82,000"
15,South Side Flats,15.21%,40565,"$77,100"
9,Summer Hill,2.24%,39034,"$76,100"
78,Oakwood,-0.10%,34345,"$74,500"
12,Westwood,-0.87%,49877,"$72,200"